//フォント関係の設定
$font-en: 'Noto Serif';
$font-jp: 'Noto Serif JP';

//色関係の設定
    //サイトカラー
    $color-main:#1B1310;
    // $color-sub:;
    //フォントカラー
    $color-font: #171717;
    $color-header: #fff;
    $color-title: #282F35;
    //リンクカラー
    $color-link: #fff;
    // 白色
    $color-white: #fff;
    //ボタンカラー
    $color-btn: #F7D43F;

    $color-shadow: #1b1310;